{% extends "index.html" %}
{% load markup %}
{% load comments %}


{% block content %}

	
		<div class="post-{{ object.id }} post hentry category-schweden tag-foto tag-stockholm entry">
			
			<div class="meta">
				<h2 class="title entry-title" id="post-{{ object.id }}"><a href="{{ object.get_absolute_url }}" rel="bookmark" title="Permalink dieses Artikels">{{ object.title }}</a></h2>
				<p class="metadata"><span class="date updated">{{ object.pub_date }}</span> | <a href="{{ object.get_absolute_url }}#respond" class="comments-link"  title="Kommentieren">Keine Kommentare</a></p>
			</div>
			
			<div class="content">
				{{ object.body|textile }}

 			</div>
			<p class="tagdata"><strong>Schlagworte:</strong> {% for tag in object.tags.all %}<a href="{{ tag.get_absolute_url }}" rel="tag">{{ tag.name }}</a>{% if not forloop.last %},{% endif %} {% endfor %}</p>
		</div> 
			<div id="comments-header"> 
			  <div class="clearfix"> 
			    {% get_comment_count for object as comment_count %}
			<h2 class="title">{{ comment_count }} Kommentare</h2> 
		  			<p class="comments-feed"><a href="{{ object.get_absolute_url }}feed/">RSS-Feed f&uuml;r Kommentare zu diesem Artikel</a></p> 
  		  		</div> 
			</div>
	

			<ol id="comments" class="clearfix"> 
			  {% get_comment_list for object as comment_list %}
			  {% for comment in comment_list %}
			  <li class="comment even thread-even depth-1" id="comment-{{ comment.id }}"> 
			    <div class="comment-wrapper clearfix" id="comment-wrapper-{{ comment.id }}">
			      <p class="comment-meta commentmetadata">
				<span class="comment-author vcard">
				  <a class="url fn" href="{{ comment.user_url }}" rel="external nofollow">{{ comment.user_name }}</a></span> am <span class="comment-permalink">
				  <a title="Permalink zu diesem Kommentar" href="{{ object.get_absolute_url }}#comment-65045">2010-05-04 um 17:31</a></span>					</p> 
					
					<div class="comment-content content"> 
					{{ comment.comment|textile }}	
					</div> 
					
			    </div> 
			  </li>
			  {% endfor %}
			</ol>
			

			<div id="respond"> <div id="respond-header" class="clearfix"> 
			<h2 class="title">Kommentieren</h2> </div>
			{% render_comment_form for object %}
			</div>
					
		</div>
	


{% endblock %}
