{% extends "index.html" %}
{% load comments %}

{% block content %}
{% if entries %}

{% for object in entries.object_list %}
<div class="post-{{ object.id }} post entry ">
                        
  <div class="meta">
    <h2 class="title entry-title" id="post-{{ object.id }}">
      <a href="{{object.get_absolute_url}}" rel="bookmark" title="Permalink für diesen Artikel">{{ object.title }}</a>
    </h2>
                                <p class="metadata"><span class="date updated">{{ object.pub_date.date }}</span> | <a href="{{object.get_absolute_url}}#respond" class="comments-link"  title="Kommentieren">{% if comment_count %}{{ comment_count }} Kommentar{{ comment_count|pluralize:"e" }}{% else %}Keine Kommentare{% endif %}</a></p>
                        </div>
                        
                        <div class="content">
                                {{ object.body.rendered|truncatewords_html:30 }}

                        </div>
                </div>

{% endfor %}

<p class="pagination">
{% if entries.has_next %}
<a href="{% url tagpage slug=tag.slug page=entries.next_page_number %}">&laquo; &Auml;ltere Beitr&auml;ge</a>
{% endif %}
&nbsp;(Seite {{ entries.number }} von {{ entries.paginator.num_pages }})&nbsp;
{% if entries.has_previous %}
<a href="{% url tagpage slug=tag.slug page=entries.previous_page_number %}" >Neuere Beitr&auml;ge &raquo;</a>
{% endif %}
</p> 

{% else %}
<p>Keine Artikel zu diesem Schlagwort gefunden. Stattdessen <a href="/search/?q={{ tag.name }}">danach suchen</a>?</p>
{% endif %}

{% endblock %}

{% block sidebar %}
<p>Alle Artikel zum Schlagwort</p>
<h2>{{ tag.name }}</h2>
{% endblock %}
