{% extends "tarski.html" %}
{% block title %}Betreff: EU{% endblock %}

{% block header %}
<div id="title">
  <h1 id="blog-title">Betreff: EU</h1>
  <p id="tagline">Texte zum geeinten Europa</p></div>
<div id="navigation" class="clearfix">
  <ul class="primary xoxo">
    <li><a id="nav-home" class="nav-current" href="http://www.betreff.eu/" rel="home">Startseite</a></li>
    <li><a id="nav-2-about" href="http://www.betreff.eu/ueber-eu/">Über Betreff.EU</a></li>
    <li><a id="nav-3-archiv" href="http://www.betreff.eu/archiv/">Archiv</a></li>
    <li><a id="nav-11-impressum" href="http://www.betreff.eu/impressum/">Impressum</a></li>
  </ul>

  <div class="secondary">
    <p><a class="feed" href="http://www.betreff.eu/feed/">Feed abonnieren</a></p>
  </div>
</div>
{% endblock %}


{% block sidebar %}
{% endblock %}

{% block footsidebar %}
{% endblock %}

{% block footcontent %}
{% endblock %}
